.links-container {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
    text-transform: uppercase;
}

.links-container a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}