.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    height: 20px;
    background-color: #F8F1FF;
    border-radius: 7px;
    border: none;
    outline: none;
    outline-offset: 0;
    transition: all 0.13s ease-in-out;
}

.form-container input:focus {
    border: none;
    /* outline: 2px solid purple; */
    box-shadow: inset -1px -1px 1px purple;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}